.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-family: tacticSans;
  font-weight: 400;
  font-style: italic;
  font-size: clamp(28px, 2vw, 32px);
}

.sortContainer {
  display: flex;
  flex-direction: row;
  gap: clamp(14px, 2vw, 24px);
  justify-content: center;
  align-items: center;
}

.errorContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  background-color: #0F1318;
  padding: 14px 24px;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  background-color: #EB0237;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
}

.button:hover {
  cursor: pointer;
}

.button svg {
  transition: transform 0.5s ease-in-out;
}

.button:hover svg {
  transform: rotate(-360deg);
}

@media (max-width: 720px) {
  .button {
    min-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .error {
    width: 100%;
  }

  .container {
    flex-direction: column;
    gap: 10px;
  }
  .sortContainer {
    flex-direction: column;
    width: 100%;
  }

  .errorContainer {
    flex-direction: column;
    width: 100%;
  }
}
