.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #0B0E12;
}

.containerPreview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 4px;
}

.matchScore {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.teamName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  font-weight: 600;
  font-size: clamp(14px, 2vw, 16px);
}

.score {
  font-weight: 600;
  font-size: 20px;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 6px 2px;
  width: 92px;
  height: 27px;
  font-weight: 600;
  font-size: 12px;
}

.matchDetails {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 12px;
}

@media (max-width: 925px) {
  .matchDetails {
    flex-direction: column;
  }
}

.chevronIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);
}

.chevronIcon:hover {
  cursor: pointer;
}

.rotated {
  transform: rotate(0deg);
}

.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 24px;
  align-items: center;
  background-color: #101318;
}

.killsContainer{
  display: flex;
  flex-direction: row;
}
.kills {
  color: #FAFAFA66;
  font-weight: 500;
  font-size: 14px;
}

.teamIcon {
  width: 48px;
  height: 48px;
}

@media (max-width: 720px) {
  .teamIcon {
    width: 28px;
    height: 28px;
  }

  .containerPreview {
    padding: 8px;
  }

  .status {
    padding: 4px 2px;
    width: 70px;
    height: 23px;
  }
}

.divider {
  width: 1px;
  height: 16px;
  background-color: #141A21;
}

.finished {
  background-color: #EB0237;
}

.ongoing {
  background-color: #43AD28;
}

.scheduled {
  background-color: #EB6402;
  width: 112px;
}
